<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<jaxws:endpoint id="AWSECommerceServiceImpl" implementor="com.amazon.webservices.awsecommerceservice._2007_07_16.AWSECommerceServiceImpl"
		address="/AWSECommerceService">
		<jaxws:features>
			<!-- 
				logging is enabled/disabled setting log4j loggers to INFO :
				org.apache.cxf.interceptor.LoggingInInterceptor
				org.apache.cxf.interceptor.LoggingOutInterceptor 
				
			-->
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxws:features>

		<jaxws:properties>
			<entry key="schema-validation-enabled" value="true" />
			<entry key="faultStackTraceEnabled" value="true" />
		</jaxws:properties>

	</jaxws:endpoint>
</beans>