<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:lang="http://www.springframework.org/schema/lang"
   xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee"
   xmlns:tx="http://www.springframework.org/schema/tx"
   xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


   <!-- JMX -->
   <bean id="servletContextAwareMbeanServer" class="fr.xebia.management.ServletContextAwareMBeanServer">
      <property name="mbeanServer" ref="mbeanServer" />
   </bean>
   <bean id="mbeanServer" class="org.springframework.jmx.support.MBeanServerFactoryBean">
      <property name="locateExistingServerIfPossible" value="true" />
   </bean>
   <bean id="mbeanExporter" class="org.springframework.jmx.export.annotation.AnnotationMBeanExporter">
      <property name="server" ref="servletContextAwareMbeanServer" />
   </bean>

   <!-- JNDI datasource -->
   <jee:jndi-lookup id="jmxDemoDataSource" jndi-name="java:comp/env/jdbc/jmx-demo-data-source" />

   <!-- JPA / ENTITY MANAGER / HIBERNATE -->
   <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" depends-on="hibernate.UpdateTimestampsCache, hibernate.StandardQueryCache, countryCache">
      <property name="persistenceUnitName" value="jmx-demo-persistence-unit" />
      <property name="dataSource" ref="jmxDemoDataSource" />
      <property name="loadTimeWeaver">
         <bean class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver" />
      </property>
      <property name="jpaVendorAdapter">
         <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
            <property name="databasePlatform" value="org.hibernate.dialect.HSQLDialect" />
            <property name="showSql" value="true" />
            <property name="generateDdl" value="true" />
         </bean>
      </property>
      <property name="jpaProperties">
         <props>
            <!-- Override properties defined in /META-INF/persistence.xml -->
            <prop key="hibernate.cache.provider_class">net.sf.ehcache.hibernate.SingletonEhCacheProvider</prop>
            <prop key="hibernate.cache.use_query_cache">true</prop>
            <prop key="hibernate.cache.use_second_level_cache">true</prop>
            <prop key="hibernate.cache.use_structured_entries">true</prop>
            <prop key="hibernate.current_session_context_class">thread</prop>
            <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
            <prop key="hibernate.format_sql">true</prop>
            <prop key="hibernate.generate_statistics">true</prop>
            <prop key="hibernate.use_sql_comments">true</prop>
            <prop key="javax.persistence.transactionType">RESOURCE_LOCAL</prop>
         </props>
      </property>
   </bean>
   <bean id="hibernateStatistics" class="org.hibernate.jmx.StatisticsService">
      <property name="statisticsEnabled" value="true" />
      <property name="sessionFactory" ref="sessionFactory" />
   </bean>

   <bean id="sessionFactory" factory-bean="entityManagerFactory" factory-method="getSessionFactory" />

   <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
      <property name="entityManagerFactory" ref="entityManagerFactory" />
   </bean>

   <!-- EH CACHE -->
   <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
      <property name="cacheManagerName" value="jmxDemoCacheManager" />
      <property name="shared" value="true" />
   </bean>
   <bean id="jmxDemoCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
      <property name="cacheManager" ref="cacheManager" />
      <property name="cacheName" value="jmxDemoCache" />
      <property name="diskExpiryThreadIntervalSeconds" value="120" />
      <property name="diskPersistent" value="false" />
      <property name="eternal" value="false" />
      <property name="maxElementsInMemory" value="10000" />
      <property name="maxElementsOnDisk" value="20000" />
      <property name="memoryStoreEvictionPolicy" value="LRU" />
      <property name="overflowToDisk" value="true" />
      <!-- 1800 seconds = 30 mins -->
      <property name="timeToIdle" value="1800" />
      <property name="timeToLive" value="1800" />
   </bean>
   <bean id="countryCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
      <property name="cacheManager" ref="cacheManager" />
      <property name="cacheName" value="fr.xebia.demo.jmx.model.Country" />
   </bean>
   <bean id="hibernate.UpdateTimestampsCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
      <property name="cacheManager" ref="cacheManager" />
      <property name="cacheName" value="org.hibernate.cache.UpdateTimestampsCache" />
   </bean>
   <bean id="hibernate.StandardQueryCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
      <property name="cacheManager" ref="cacheManager" />
      <property name="cacheName" value="org.hibernate.cache.StandardQueryCache" />
   </bean>

   <bean id="managementService" class="net.sf.ehcache.management.ManagementService" init-method="init">
      <constructor-arg ref="servletContextAwareMbeanServer" />
      <constructor-arg ref="cacheManager" />
      <constructor-arg index="2" value="true" />
      <constructor-arg index="3" value="true" />
      <constructor-arg index="4" value="true" />
      <constructor-arg index="5" value="true" />
   </bean>

</beans>
