<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/integration" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:aop="http://www.springframework.org/schema/aop"
   xmlns:beans="http://www.springframework.org/schema/beans"
   xmlns:tx="http://www.springframework.org/schema/tx"   
   xsi:schemaLocation="
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/beans/spring-tx-2.5.xsd
      http://www.springframework.org/schema/aop http://www.springframework.org/schema/beans/spring-aop-2.5.xsd">

   <aop:aspectj-autoproxy />

   <tx:annotation-driven transaction-manager="transactionManager" />

   <bean id="ObjectGridManager" class="com.ibm.websphere.objectgrid.ObjectGridManagerFactory" factory-method="getObjectGridManager" />

   <bean id="ObjectGrid" factory-bean="ObjectGridManager" factory-method="createObjectGrid" />

   <bean id="transactionManager" class="com.ibm.websphere.objectgrid.spring.ObjectGridSpringFactory"
      factory-method="getLocalPlatformTransactionManager">
   </bean>

   <bean id="Service" class="com.ibm.websphere.objectgrid.spring.test.TestService">
      <property name="txManager" ref="transactionManager" />
   </bean>



</beans:beans>
