<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
   xmlns:ws="http://jax-ws.dev.java.net/spring/core" xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
   xsi:schemaLocation="
               http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
               http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
               http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
               http://jax-ws.dev.java.net/spring/core http://jax-ws.dev.java.net/spring/core.xsd
               http://jax-ws.dev.java.net/spring/servlet http://jax-ws.dev.java.net/spring/servlet.xsd">

   <wss:binding url="/services/AWSECommerceService">
      <wss:service>
         <ws:service id="addService" impl="com.amazon.webservices.awsecommerceservice._2007_07_16.AWSECommerceServiceImpl">
            <!-- 
               Using <ws:handlers>...</ws:handlers> does not work. Exception: 
               625  [main] ERROR org.springframework.web.context.ContextLoader  - Context initialization failed
               org.springframework.beans.factory.BeanDefinitionStoreException: Failed to load type: handlers. Reason: java.lang.ClassNotFoundException: handlers; nested exception is java.lang.ClassNotFoundException: handlers
               Caused by: 
               java.lang.ClassNotFoundException: handlers
               at org.apache.catalina.loader.WebappClassLoader.loadClass(WebappClassLoader.java:1358)
               at org.apache.catalina.loader.WebappClassLoader.loadClass(WebappClassLoader.java:1204)
               at org.apache.xbean.spring.context.v2c.XBeanQNameHelper.loadClass(XBeanQNameHelper.java:107)
               ...
               at org.apache.xbean.spring.context.v2.XBeanNamespaceHandler.parse(XBeanNamespaceHandler.java:49)
               at org.springframework.beans.factory.xml.BeanDefinitionParserDelegate.parseCustomElement(BeanDefinitionParserDelegate.java:1147)
               ...
               at org.apache.xbean.spring.context.v2.XBeanNamespaceHandler.parse(XBeanNamespaceHandler.java:49)
               at org.springframework.beans.factory.xml.BeanDefinitionParserDelegate.parseCustomElement(BeanDefinitionParserDelegate.java:1147)
               ...
               at org.springframework.web.context.support.XmlWebApplicationContext.loadBeanDefinitions(XmlWebApplicationContext.java:91)
               ...
               at org.springframework.web.context.ContextLoaderListener.contextInitialized(ContextLoaderListener.java:49)
               ...
               at org.apache.catalina.startup.Bootstrap.main(Bootstrap.java:413)
            -->
            <!-- 
               Using <ws:service handlers="myHandler" /> does not work. Exception:
               org.springframework.beans.factory.BeanDefinitionStoreException: Line 13 in XML document from ServletContext resource [/WEB-INF/applicationContext.xml] is invalid; nested exception is org.xml.sax.SAXParseException: cvc-complex-type.3.2.2: Attribute 'handlers' is not allowed to appear in element 'ws:service'.
               Caused by: org.xml.sax.SAXParseException: cvc-complex-type.3.2.2: Attribute 'handlers' is not allowed to appear in element 'ws:service'.
               at com.sun.org.apache.xerces.internal.util.ErrorHandlerWrapper.createSAXParseException(ErrorHandlerWrapper.java:236)
               ...
               at com.sun.org.apache.xerces.internal.jaxp.DocumentBuilderImpl.parse(DocumentBuilderImpl.java:292)
               at org.springframework.beans.factory.xml.DefaultDocumentLoader.loadDocument(DefaultDocumentLoader.java:77)
               ...
               at org.springframework.web.context.support.XmlWebApplicationContext.loadBeanDefinitions(XmlWebApplicationContext.java:91)
               ...
               at org.springframework.web.context.ContextLoaderListener.contextInitialized(ContextLoaderListener.java:49)
               ...
               at org.apache.catalina.startup.Bootstrap.main(Bootstrap.java:413)
            -->
         </ws:service>
      </wss:service>
   </wss:binding>

   <bean id="performancesHandler" class="fr.xebia.demo.jaxws.PerformancesLogicalHandler" />
</beans>