<?xml version="1.0" encoding="UTF-8"?>
   <!--                                                                          -->
   <!-- Copyright 2007 Xebia and the original author or authors.                 -->
   <!--                                                                          -->
   <!-- Licensed under the Apache License, Version 2.0 (the "License");          -->
   <!-- you may not use this file except in compliance with the License.         -->
   <!-- You may obtain a copy of the License at                                  -->
   <!--                                                                          -->
   <!-- http://www.apache.org/licenses/LICENSE-2.0                               -->
   <!--                                                                          -->
   <!-- Unless required by applicable law or agreed to in writing, software      -->
   <!-- distributed under the License is distributed on an "AS IS" BASIS,        -->
   <!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. -->
   <!-- See the License for the specific language governing permissions and      -->
   <!-- limitations under the License.                                           -->
   <!--                                                                          -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:jaxws="http://cxf.apache.org/jaxws"
   xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:http-conf="http://cxf.apache.org/transports/http/configuration" xmlns:security="http://cxf.apache.org/configuration/security"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
http://cxf.apache.org/transports/http/configuration http://cxf.apache.org/schemas/configuration/http-conf.xsd
http://cxf.apache.org/configuration/security http://cxf.apache.org/schemas/configuration/security.xsd">
   <import resource="classpath:META-INF/cxf/cxf.xml" />
   <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
   <import resource="classpath:META-INF/cxf/cxf-extension-http.xml" />
   <import resource="classpath:META-INF/cxf/cxf-extension-jaxws.xml" />
   <!-- <import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml" /> -->
   <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
   <import resource="classpath:META-INF/cxf/cxf-extension-xml.xml" />
   <import resource="classpath:META-INF/cxf/cxf-extension-javascript-client.xml" />
   <context:annotation-config />
   <context:property-placeholder location="classpath:applicationContext.properties" />
   <jaxws:endpoint implementor="fr.xebia.demo.ws.employee.EmployeeServiceImpl" address="/employee-service">
      <jaxws:features>
         <!--
            logging is enabled/disabled setting log4j loggers to INFO : org.apache.cxf.interceptor.LoggingInInterceptor
            org.apache.cxf.interceptor.LoggingOutInterceptor
         -->
         <bean class="org.apache.cxf.feature.LoggingFeature" />
         <bean class="org.apache.cxf.management.interceptor.ResponseTimeFeature" />
      </jaxws:features>
      <!--
         <jaxws:schemaLocations> <jaxws:schemaLocation>classpath:META-INF/xsd/employee-1.0.xsd</jaxws:schemaLocation>
         <jaxws:schemaLocation>classpath:META-INF/xsd/employeeService-1.0.xsd</jaxws:schemaLocation> </jaxws:schemaLocations>
      -->
      <jaxws:properties>
         <entry key="schema-validation-enabled" value="true" />
         <entry key="faultStackTraceEnabled" value="true" />
      </jaxws:properties>
   </jaxws:endpoint>
   <jaxws:client id="EmployeeService" serviceClass="fr.xebia.demo.ws.employee.EmployeeService" address="${employee-service.address}">
      <jaxws:features>
         <!--
            logging is enabled/disabled setting log4j loggers to INFO : org.apache.cxf.interceptor.LoggingInInterceptor
            org.apache.cxf.interceptor.LoggingOutInterceptor
         -->
         <bean class="org.apache.cxf.feature.LoggingFeature" />
         <bean class="org.apache.cxf.management.interceptor.ResponseTimeFeature" />
      </jaxws:features>
      <jaxws:properties>
         <entry key="schema-validation-enabled" value="false" />
         <entry key="faultStackTraceEnabled" value="true" />
      </jaxws:properties>
   </jaxws:client>

   <bean id="CounterRepository" class="org.apache.cxf.management.counters.CounterRepository">
      <property name="bus" ref="cxf" />
   </bean>
   <bean id="org.apache.cxf.management.InstrumentationManager" class="org.apache.cxf.management.jmx.InstrumentationManagerImpl">
      <property name="bus" ref="cxf" />
      <property name="enabled" value="true" />
      <property name="threaded" value="false" />
      <property name="daemon" value="false" />
      <!-- <property name="JMXServiceURL" value="service:jmx:rmi:///jndi/rmi://localhost:9914/jmxrmi-2" />-->
   </bean>

   <!--
      <jaxrs:server id="employeeServiceJaxRs" address="/"> <jaxrs:serviceBeans> <bean class="fr.xebia.demo.ws.rs.employee.EmployeeService"
      /> </jaxrs:serviceBeans> </jaxrs:server>
   -->
</beans>